In [74]:
import pandas as pd


# df['raised_amount_usd'] = df['raised_amount_usd'].apply(lambda x: ("".join(x.split(","))).strip())
# df.loc[df.funding_total_usd == '-', 'raised_amount_usd'] = None
# df['raised_amount_usd'] = df['raised_amount_usd'].map(lambda x: float(x) if x is not None else x)

In [75]:
def split_backslash(x):
    try:
        return str(x).split("/")[1].strip()
    except:
        return x

In [76]:
df = pd.read_csv("../raw_data_crunchbase/crunchbase-investments.csv")
df = df[df['funded_year']==2013]
df['investor_permalink'] = df['investor_permalink'].apply(lambda x: split_backslash(x))
df = df.loc[df['investor_permalink']=='organization'] # change to person!!!!!!!

# from 20179 to 17617 for raised_amount_usd
df = df.loc[df["raised_amount_usd"].notnull()]
df['raised_amount_usd'] = df['raised_amount_usd'].apply(lambda x: "".join(x.split(",")).strip())
df.loc[df.raised_amount_usd == '-', 'raised_amount_usd'] = None

df['raised_amount_usd'] = df['raised_amount_usd'].map(lambda x: float(x) if x is not None else x)

# all present for funding_round_type
df = df.loc[df["funding_round_type"].notnull()]
# from 17617 to 16553 for company_country_code
# df = df.loc[df["investor_country_code"].notnull()]
df = df.loc[df["company_market"].notnull()]

In [77]:
df.shape

(13172, 24)

In [78]:
df.columns

Index([u'company_permalink', u'company_name', u'company_category_list',
       u'company_market', u'company_country_code', u'company_state_code',
       u'company_region', u'company_city', u'investor_permalink',
       u'investor_name', u'investor_category_list', u'investor_market',
       u'investor_country_code', u'investor_state_code', u'investor_region',
       u'investor_city', u'funding_round_permalink', u'funding_round_type',
       u'funding_round_code', u'funded_at', u'funded_month', u'funded_quarter',
       u'funded_year', u'raised_amount_usd'],
      dtype='object')

In [79]:
subset_df = df[["company_permalink","company_name","company_market","company_country_code","raised_amount_usd"]]
# grouped = subset_df.groupby(['investor_name', 'investor_market'])
agg_df = subset_df.groupby(['company_name','company_market',"company_country_code"]).sum().reset_index()
print(agg_df.shape)
agg_df.head()

(5389, 4)

      company_name   company_market company_country_code  raised_amount_usd
0           0xdata        Analytics                  USA            1700000
1      1,2,3 Listo       E-Commerce                  CHL              40000
2  1000museums.com      Curated Web                  USA            1295758
3       1001 Menus      Restaurants                  FRA            3536910
4         121nexus  Pharmaceuticals                  USA             695000

In [80]:
agg_df = agg_df.sort(['raised_amount_usd'], ascending=[1]).reset_index()
agg_df = agg_df[agg_df.shape[0]/2:agg_df.shape[0]]
agg_df.head()

,index,company_name,company_market,company_country_code,raised_amount_usd
2694,4010,SkillSonics India,Education,IND,4000000
2695,2855,MyPermissions,Security,ISR,4000000
2696,138,Adly,Social Media,USA,4000000
2697,2865,NASOFORM,Biotechnology,USA,4000000
2698,5079,Zemanta,Blogging Platforms,USA,4000000

In [81]:
agg_df.to_csv("aggregated-startups-top50percent.csv", index=False)

In [8]:
# top_ten = agg_df[agg_df["investor_market"].isin(["Biotechnology","Software","Clean Technology","Mobile","Healthcare","E-commerce","Enterprise Software","Finance", "Hardware + Software", "Advertising"])]

In [28]:
# top_ten.shape

(254, 4)

In [29]:
# top_ten.to_csv("top-ten-investors.csv", index=False)