In [1]:
import pandas as pd


# df['raised_amount_usd'] = df['raised_amount_usd'].apply(lambda x: ("".join(x.split(","))).strip())
# df.loc[df.funding_total_usd == '-', 'raised_amount_usd'] = None
# df['raised_amount_usd'] = df['raised_amount_usd'].map(lambda x: float(x) if x is not None else x)

In [2]:
def split_backslash(x):
    try:
        return str(x).split("/")[1].strip()
    except:
        return x

In [3]:
df = pd.read_csv("../raw_data_crunchbase/crunchbase-investments.csv")
df = df[df['funded_year']==2013]
df['investor_permalink'] = df['investor_permalink'].apply(lambda x: split_backslash(x))
df = df.loc[df['investor_permalink']=='organization'] # change to person!!!!!!!

# from 20179 to 17617 for raised_amount_usd
df = df.loc[df["raised_amount_usd"].notnull()]
df['raised_amount_usd'] = df['raised_amount_usd'].apply(lambda x: "".join(x.split(",")).strip())
df.loc[df.raised_amount_usd == '-', 'raised_amount_usd'] = None

df['raised_amount_usd'] = df['raised_amount_usd'].map(lambda x: float(x) if x is not None else x)

# all present for funding_round_type
df = df.loc[df["funding_round_type"].notnull()]
# from 17617 to 16553 for company_country_code
df = df.loc[df["investor_country_code"].notnull()]
df = df.loc[df["investor_market"].notnull()]

/Users/carlo_liquido/anaconda/envs/python2/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (10,11,12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [4]:
df.shape

(3987, 24)

In [5]:
df.columns

Index([u'company_permalink', u'company_name', u'company_category_list',
       u'company_market', u'company_country_code', u'company_state_code',
       u'company_region', u'company_city', u'investor_permalink',
       u'investor_name', u'investor_category_list', u'investor_market',
       u'investor_country_code', u'investor_state_code', u'investor_region',
       u'investor_city', u'funding_round_permalink', u'funding_round_type',
       u'funding_round_code', u'funded_at', u'funded_month', u'funded_quarter',
       u'funded_year', u'raised_amount_usd'],
      dtype='object')

In [8]:
subset_df = df[["investor_permalink","investor_name","investor_market","investor_country_code","raised_amount_usd"]]
# grouped = subset_df.groupby(['investor_name', 'investor_market'])
agg_df = subset_df.groupby(['investor_name','investor_market',"investor_country_code"]).sum().reset_index()
print(agg_df.shape)
agg_df.head()

(802, 4)

,investor_name,investor_market,investor_country_code,raised_amount_usd
0,101 Startups,Finance,ESP,2495275
1,10Xelerator,Finance,USA,140000
2,1stMover,Design,DEU,130277
3,212 Limited,Investment Management,TUR,9000000
4,21212,Technology,BRA,50000

In [15]:
market_list = agg_df["investor_country_code"]
(set(market_list))

{'ARG',
 'AUS',
 'BEL',
 'BGR',
 'BRA',
 'CAN',
 'CHE',
 'CHL',
 'CHN',
 'COL',
 'CYM',
 'CZE',
 'DEU',
 'DNK',
 'EGY',
 'ESP',
 'EST',
 'FIN',
 'FRA',
 'GBR',
 'GRC',
 'HKG',
 'IND',
 'IRL',
 'ISR',
 'ITA',
 'JPN',
 'KOR',
 'LTU',
 'LUX',
 'MEX',
 'NLD',
 'NOR',
 'PHL',
 'POL',
 'PRT',
 'ROM',
 'RUS',
 'SAU',
 'SGP',
 'SWE',
 'THA',
 'TUR',
 'TWN',
 'UKR',
 'USA'}

In [ ]:
# agg_df.to_csv("aggregated-investments.csv", index=False)

In [27]:
top_ten = agg_df[agg_df["investor_market"].isin(["Biotechnology","Software","Clean Technology","Mobile","Healthcare","E-commerce","Enterprise Software","Finance", "Hardware + Software", "Advertising"])]

In [28]:
top_ten.shape

(254, 4)

In [29]:
top_ten.to_csv("top-ten-investors.csv", index=False)