In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("../convert_data/investor_city_rounds.csv", encoding='iso-8859-1')

In [29]:
df

       investor_city funded_month  Count
0             Newton      2004-01      1
1          M__nchen      2004-01      1
2        Montr_Î©al      2004-01      1
3          Kingsport      2004-01      1
4             Mclean      2004-01      1
5        Los Angeles      2004-01      1
6           Stamford      2004-01      1
7           Westport      2004-01      1
8          Wellesley      2004-01      1
9       Redwood City      2004-01      1
10           Raleigh      2004-01      1
11           Solares      2004-01      1
12          Shanghai      2004-01      1
13          Carlsbad      2004-01      1
14           Chicago      2004-01      1
15            Durham      2004-01      1
16           Beijing      2004-01      1
17           Burbank      2004-01      1
18            Geneva      2004-01      1
19          Helsinki      2004-01      1
20         Edinburgh      2004-01      1
21          San Jose      2004-01      2
22     San Francisco      2004-01      2
23            Austin      2004-01      2
24           Waltham      2004-01      2
25            Munich      2004-01      3
26           Glasgow      2004-01      3
27            Boston      2004-01      3
28         Cambridge      2004-01      4
29          New York      2004-01      5
...              ...          ...    ...
15984      Stockholm      2013-12      5
15985       Herzliya      2013-12      6
15986       Shanghai      2013-12      6
15987         Oxford      2013-12      6
15988      Milwaukee      2013-12      6
15989      San Mateo      2013-12      6
15990         Geneva      2013-12      7
15991        Houston      2013-12      7
15992    Montr_Î©al      2013-12      7
15993      San Diego      2013-12      7
15994        Chicago      2013-12      8
15995     Birmingham      2013-12      9
15996  Mountain View      2013-12      9
15997         Moscow      2013-12     10
15998      Singapore      2013-12     10
15999        Beijing      2013-12     12
16000         Madrid      2013-12     13
16001    Santa Clara      2013-12     14
16002    Los Angeles      2013-12     15
16003        Seattle      2013-12     16
16004      Cambridge      2013-12     17
16005          Tokyo      2013-12     19
16006         Boston      2013-12     22
16007          Paris      2013-12     30
16008         London      2013-12     36
16009       Santiago      2013-12     38
16010      Palo Alto      2013-12     53
16011  San Francisco      2013-12     79
16012       New York      2013-12     85
16013     Menlo Park      2013-12     95

[16014 rows x 3 columns]

In [42]:
idx = df.groupby(['funded_month'])['Count'].transform(max) == df['Count']

In [49]:
top_vc = df[idx]

In [50]:
top_vc.to_csv("investor_city_rounds.csv", sep='\t')

In [55]:
for i in top_vc['investor_city']:
    print("'"str(i) + "',")

Menlo Park,
New York,
Menlo Park,
New York,
Boston,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Palo Alto,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
New York,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
New York,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
New York,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
New York,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,
Menlo Park,