In [39]:
import pandas as pd


# df['raised_amount_usd'] = df['raised_amount_usd'].apply(lambda x: ("".join(x.split(","))).strip())
# df.loc[df.funding_total_usd == '-', 'raised_amount_usd'] = None
# df['raised_amount_usd'] = df['raised_amount_usd'].map(lambda x: float(x) if x is not None else x)

In [40]:
def split_backslash(x):
    try:
        return str(x).split("/")[1].strip()
    except:
        return x

In [41]:
raw_unicorns = pd.read_csv("scrapunicrons_2016/unicorns.csv",header=None)
list_unicorns = list(raw_unicorns[0])
list_unicorns_lower = [x.lower().replace(" ", "") for x in list_unicorns]

In [42]:
df = pd.read_csv("../raw_data_crunchbase/crunchbase-investments.csv")
# df = df[df['funded_year']==2013]
df['investor_permalink'] = df['investor_permalink'].apply(lambda x: split_backslash(x))
df = df.loc[df['investor_permalink']=='organization'] # change to person!!!!!!!

# from 20179 to 17617 for raised_amount_usd
df = df.loc[df["raised_amount_usd"].notnull()]
df['raised_amount_usd'] = df['raised_amount_usd'].apply(lambda x: "".join(x.split(",")).strip())
df.loc[df.raised_amount_usd == '-', 'raised_amount_usd'] = None

df['raised_amount_usd'] = df['raised_amount_usd'].map(lambda x: float(x) if x is not None else x)

# # all present for funding_round_type
# df = df.loc[df["funding_round_type"].notnull()]

# df = df.loc[df["investor_country_code"].notnull()]
# df = df.loc[df["company_country_code"].notnull()]

In [43]:
df.shape

(78863, 24)

In [44]:
df.columns

Index([u'company_permalink', u'company_name', u'company_category_list',
       u'company_market', u'company_country_code', u'company_state_code',
       u'company_region', u'company_city', u'investor_permalink',
       u'investor_name', u'investor_category_list', u'investor_market',
       u'investor_country_code', u'investor_state_code', u'investor_region',
       u'investor_city', u'funding_round_permalink', u'funding_round_type',
       u'funding_round_code', u'funded_at', u'funded_month', u'funded_quarter',
       u'funded_year', u'raised_amount_usd'],
      dtype='object')

In [45]:
subset_df = df[["company_name", "company_country_code", "company_city", "company_market",
                "investor_name","investor_country_code","investor_city",
                "funded_at","funded_month","funded_year","funded_quarter","raised_amount_usd"]]

In [46]:
years_wanted = [2004,2005,2006,2007,2008,2009,2010,2011,2012,2013]

In [47]:
subset_df = subset_df.loc[subset_df['funded_year'].isin(years_wanted)]
# subset_df = subset_df[subset_df['funded_year']>=2004 and subset_df['funded_year']>=2013]

In [48]:
subset_df.head()

,company_name,company_country_code,company_city,company_market,investor_name,investor_country_code,investor_city,funded_at,funded_month,funded_year,funded_quarter,raised_amount_usd
13,AbilTo,USA,New York,Health and Wellness,.406 Ventures,USA,Boston,05/14/2013 00:00,2013-05,2013,2013-Q2,3000000
14,Ambient Devices,NaN,NaN,Mobile,.406 Ventures,USA,Boston,09/16/2008 00:00,2008-09,2008,2008-Q3,5000000
15,Urban Compass,USA,New York,Local,.406 Ventures,USA,Boston,12/17/2012 00:00,2012-12,2012,2012-Q4,8000000
16,MineralTree,USA,Cambridge,Analytics,.406 Ventures,USA,Boston,06/27/2012 00:00,2012-06,2012,2012-Q2,6300000
17,Connotate,USA,New Brunswick,Analytics,.406 Ventures,USA,Boston,04/12/2012 00:00,2012-04,2012,2012-Q2,7000000

In [49]:
# subset_df.to_csv("aggregated-investments-maptime.csv", index=False)

In [50]:
add_unicorns = subset_df.copy()

In [51]:
add_unicorns.shape

(67351, 12)

In [52]:
add_unicorns['company_name_lower'] = add_unicorns['company_name'].apply(lambda x: str(x).lower().replace(" ", ""))

In [53]:
add_unicorns.head()

,company_name,company_country_code,company_city,company_market,investor_name,investor_country_code,investor_city,funded_at,funded_month,funded_year,funded_quarter,raised_amount_usd,company_name_lower
13,AbilTo,USA,New York,Health and Wellness,.406 Ventures,USA,Boston,05/14/2013 00:00,2013-05,2013,2013-Q2,3000000,abilto
14,Ambient Devices,NaN,NaN,Mobile,.406 Ventures,USA,Boston,09/16/2008 00:00,2008-09,2008,2008-Q3,5000000,ambientdevices
15,Urban Compass,USA,New York,Local,.406 Ventures,USA,Boston,12/17/2012 00:00,2012-12,2012,2012-Q4,8000000,urbancompass
16,MineralTree,USA,Cambridge,Analytics,.406 Ventures,USA,Boston,06/27/2012 00:00,2012-06,2012,2012-Q2,6300000,mineraltree
17,Connotate,USA,New Brunswick,Analytics,.406 Ventures,USA,Boston,04/12/2012 00:00,2012-04,2012,2012-Q2,7000000,connotate

In [54]:
add_unicorns['unicorn_flag'] = add_unicorns['company_name_lower'].apply(lambda x: x in list_unicorns_lower)

In [55]:
unicorns_df = add_unicorns[add_unicorns['unicorn_flag']==True]

In [56]:
unicorns_df.head()

,company_name,company_country_code,company_city,company_market,investor_name,investor_country_code,investor_city,funded_at,funded_month,funded_year,funded_quarter,raised_amount_usd,company_name_lower,unicorn_flag
169,Vice Media,USA,Brooklyn,Video Streaming,21st Century Fox,USA,New York,08/01/2013 00:00,2013-08,2013,2013-Q3,70000000,vicemedia,True
571,Symphony,USA,Palo Alto,None,500 Startups,USA,Mountain View,01/17/2011 00:00,2011-01,2011,2011-Q1,100000,symphony,True
742,Twilio,USA,San Francisco,Enterprise Software,500 Startups,USA,Mountain View,11/09/2010 00:00,2010-11,2010,2010-Q4,12000000,twilio,True
810,Credit Karma,USA,San Francisco,Finance,500 Startups,USA,Mountain View,04/02/2013 00:00,2013-04,2013,2013-Q2,30000000,creditkarma,True
1240,Fab,USA,New York,Design,A-Grade Investments,USA,Los Angeles,08/11/2011 00:00,2011-08,2011,2011-Q3,7700000,fab,True

In [57]:
len(list_unicorns_lower)

236

In [58]:
len(set(unicorns_df['company_name']))

170

In [59]:
# add_unicorns.to_csv("investments-unicorns.csv", index=False)

In [60]:
# from collections import defaultdict
# all_dict = defaultdict(dict)
# all_markets = (add_unicorns.groupby(['company_market']).sum().reset_index())["company_market"]
# all_usd = (add_unicorns.groupby(['company_market']).sum().reset_index())["raised_amount_usd"]
# for i in all_markets:
#     all_dict[str(all_markets[i])] = all_usd

In [61]:
all_market = (add_unicorns.groupby(['company_market']).sum().reset_index())[["company_market","raised_amount_usd"]]

In [62]:
unicorn_market = (unicorns_df.groupby(['company_market']).sum().reset_index())[["company_market","raised_amount_usd"]]

In [63]:
print(all_market.shape)
print(unicorn_market.shape)

(587, 2)
(83, 2)

In [64]:
combined_market = unicorn_market.merge(all_market, left_on='company_market', right_on='company_market')

In [65]:
combined_market = combined_market.rename(columns = {'raised_amount_usd_x':'unicorns_amount_usd', 'raised_amount_usd_y':'all_amount_usd'})

In [66]:
combined_market = combined_market.sort(['unicorns_amount_usd'], ascending=[0])
combined_market

                 company_market  unicorns_amount_usd  all_amount_usd
17                   E-Commerce          12705899834     35623375438
0                   Advertising          10816500000     29665465568
72                     Software           8568299999     68437590553
75                      Storage           5441415000      6958441663
5              Clean Technology           4805000000     60279019392
8                   Communities           4007700000      4345701630
25                 File Sharing           3480685000      4097300320
76                   Technology           3252826000     17032316124
53              Online Shopping           2912000000      3443214765
12                  Curated Web           2796400000     14119347340
19          Enterprise Software           2591576443     31701792121
16                       Design           2585625000      3512398264
30                        Games           1686400000     17995945494
6               Cloud Computing           1628900000      3722247706
68                     Shopping           1556000000      2598085139
20                Entertainment           1432759080      3193534174
77               Transportation           1313450000      2251766015
66                     Security           1239120000     13210547345
15                Data Security           1143176000      1303170299
55                 Peer-to-Peer           1108020000      2066869562
48              Mobile Payments           1075000000      1936890673
65                       Search            939207611      5713780300
24                      Fashion            854500000      5669660041
22        Facebook Applications            817500000      1003191149
27           Finance Technology            770960000      1000842698
9          Consumer Electronics            721000000      1588101907
1                     Analytics            680086000     12737290240
59                      Privacy            663000000       779947172
47                 Mobile Games            648000000      1075817438
51                         News            642000000      2616974256
..                          ...                  ...             ...
64                         SaaS            218500000      4955352903
35                    Heathcare            200000000      2248814790
28           Financial Services            184137070       514217374
80               Virtualization            178972075      1091810000
49                        Music            173319000      2894072300
74                       Sports            133500000       714712852
42                        Legal            132000000       713133410
33                  Health Care            125000000     47721643619
67              Semantic Search            122000000       174878000
7                 Collaboration            102000000      1055982036
10            Content Discovery             94000000       108000000
61                  Real Estate             91700000      1852700582
62                  Restaurants             90800000       626933263
11                 Credit Cards             84000000       151000000
58                Point of Sale             76000000       164578696
41              Lead Management             74000000       166550000
70                   Social CRM             70000000       137618000
79              Video Streaming             70000000       791246498
23               Fantasy Sports             61400000        61900000
54                         PaaS             41500000       608202090
13             Customer Service             35000000      1330755719
57                  Photography             20000000      3077515293
34          Health and Wellness             20000000     10895073076
31                    Groceries             15400000        15400000
69  Small and Medium Businesses             12000000        92737400
38              Human Resources              8400000      1258719198
50                   Networking              6250000      1660066175
46              Mobile Commerce              3591333       137457979
2                        Beauty              2755795       152330199
52                         None               100000      6776708796

[83 rows x 3 columns]

In [67]:
cum_df = add_unicorns.sort(['company_name','funded_month'], ascending=[1,1])
cum_df = cum_df.groupby(['company_name', 'funded_month','company_market','unicorn_flag'], as_index=False)["raised_amount_usd"].sum()
cum_df['no_cumulative'] = cum_df.groupby(['company_name'])['raised_amount_usd'].apply(lambda x: x.cumsum())
cum_df

,company_name,funded_month,company_market,unicorn_flag,raised_amount_usd,no_cumulative
0,#waywire,2012-06,News,False,5250000,5250000
1,'Rock' Your Paper,2012-08,Publishing,False,40000,40000
2,.Fox Networks,2007-01,Advertising,False,4912393,4912393
3,0-6.com,2008-03,Curated Web,False,2000000,2000000
4,0xdata,2013-01,Analytics,False,1700000,1700000
5,"1,2,3 Listo",2013-02,E-Commerce,False,40000,40000
6,1000 Corks,2011-08,Search,False,40000,40000
7,1000 Markets,2009-05,Marketplaces,False,1000000,1000000
8,1000memories,2010-01,Curated Web,False,30000,30000
9,1000memories,2011-02,Curated Web,False,7560000,7590000
10,1000museums.com,2011-04,Curated Web,False,642000,642000
11,1000museums.com,2013-04,Curated Web,False,1295758,1937758
12,1001 Menus,2012-12,Restaurants,False,132169,132169
13,1001 Menus,2013-10,Restaurants,False,1800000,1932169
14,1001 Menus,2013-11,Restaurants,False,1736910,3669079
15,100Plus,2011-11,Analytics,False,2750000,2750000
16,100du.tv,2008-01,Hospitality,False,3000000,3000000
17,100e.com,2006-01,Education,False,3000000,3000000
18,1010data,2010-03,Software,False,35000000,35000000
19,11i Solutions,2011-03,Enterprise Software,False,1800000,1800000
20,121cast,2012-05,Mobile,False,20000,20000
21,121cast,2012-11,Mobile,False,500000,520000
22,121nexus,2012-02,Pharmaceuticals,False,14000,14000
23,121nexus,2012-04,Pharmaceuticals,False,110000,124000
24,121nexus,2013-01,Pharmaceuticals,False,500000,624000
25,121nexus,2013-07,Pharmaceuticals,False,150000,774000
26,121nexus,2013-11,Pharmaceuticals,False,45000,819000
27,1366 Technologies,2008-03,Manufacturing,False,24800000,24800000
28,1366 Technologies,2010-02,Manufacturing,False,10300000,35100000
29,1366 Technologies,2010-10,Manufacturing,False,80000000,115100000
...,...,...,...,...,...,...
29434,xF Technologies Inc.,2012-06,Clean Technology,False,1500000,1500000
29435,xMatters,2007-08,Business Services,False,4500000,4500000
29436,xaitment,2006-02,Software,False,7260000,7260000
29437,xaitment,2010-08,Software,False,3040000,10300000
29438,xkoto,2005-11,Software,False,535000,535000
29439,xkoto,2007-11,Software,False,15000000,15535000
29440,xkoto,2009-01,Software,False,6000000,21535000
29441,y prime,2013-09,Health and Wellness,False,5000000,5000000
29442,yaM Labs,2011-03,Software,False,500000,500000
29443,ybuy,2012-07,Curated Web,False,1000000,1000000
29444,yetu,2013-12,Curated Web,False,16000000,16000000
29445,yoone,2010-11,Games,False,197597,197597
29446,youblisher.com,2008-11,SaaS,False,150000,150000
29447,youcalc,2007-02,Graphics,False,1200000,1200000
29448,youcalc,2008-01,Graphics,False,2200000,3400000
29449,youmag,2011-03,Curated Web,False,1000000,1000000
29450,yuback,2010-12,Public Transportation,False,1328000,1328000
29451,zahnarztzentrum.ch,2010-09,Health and Wellness,False,19275000,19275000
29452,zank,2013-09,Finance,False,360000,360000
29453,zappit,2012-01,Mobile Payments,False,576456,576456
29454,zhouwu,2013-07,E-Commerce,False,162425,162425
29455,zlien,2012-06,Security,False,1350000,1350000
29456,zoidu,2010-10,Curated Web,False,48600,48600
29457,zulily,2009-12,E-Commerce,True,4600000,4600000
29458,zulily,2010-08,E-Commerce,True,18000000,22600000
29459,zulily,2011-08,E-Commerce,True,43000000,65600000
29460,zulily,2012-11,E-Commerce,True,85000000,150600000
29461,zweitgeist,2007-02,Software,False,651000,651000
29462,ÂŒÂµ-GPS Optics,2006-12,Hardware + Software,False,40000,40000
29463,ÂÂ±Â _ÂµÂ ____ÂÃ§,2012-08,Mobile,False,10000,10000

In [68]:
# cum_df.to_csv("investments-unicorns-cumsum.csv", index=False)

In [69]:
blah = cum_df[cum_df["company_market"]=="Mobile"]
blah[blah["unicorn_flag"]==True]

,company_name,funded_month,company_market,unicorn_flag,raised_amount_usd,no_cumulative
1120,AirWatch,2013-02,Mobile,True,200000000,200000000
1121,AirWatch,2013-05,Mobile,True,25000000,225000000
11406,InMobi,2007-01,Mobile,True,500000,500000
11407,InMobi,2008-01,Mobile,True,14200000,14700000
11408,InMobi,2010-07,Mobile,True,16000000,30700000
11409,InMobi,2011-09,Mobile,True,200000000,230700000
17004,One97 Communications,2008-10,Mobile,True,50000000,50000000
17005,One97 Communications,2011-10,Mobile,True,10000000,60000000
26719,Wandoujia,2011-01,Mobile,True,16000000,16000000
27412,Xiaomi,2010-12,Mobile,True,82000000,82000000

In [70]:
top25 = ["E-Commerce","Advertising","Software","Storage","Clean Technology","Communities","File Sharing","Technology","Online Shopping","Curated Web","Enterprise Software","Design","Games","Cloud Computing","Shopping","Entertainment","Transportation","Security","Data Security","Peer-to-Peer","Mobile Payments","Search","Fashion","Facebook Applications","Finance Technology","Consumer Electronics","Analytics","Privacy","Mobile Games","News","Hardware + Software","Retail","Mobile","Location Based Services","Biotechnology"]

In [71]:
unicorns_top25 = add_unicorns[add_unicorns["company_market"].isin(top25)]

In [74]:
unicorns_top25.to_csv("top25-investments-unicorns.csv")

In [73]:
meh = add_unicorns[add_unicorns["company_market"]=="E-Commerce"]
meh[meh["funded_month"]=="2005-08"]

,company_name,company_country_code,company_city,company_market,investor_name,investor_country_code,investor_city,funded_at,funded_month,funded_year,funded_quarter,raised_amount_usd,company_name_lower,unicorn_flag
75237,Blue Lava Group,USA,Los Angeles,E-Commerce,Stone Canyon Venture Partners,USA,Los Angeles,08/01/2005 00:00,2005-08,2005,2005-Q3,2000000,bluelavagroup,False
88646,Alibaba,CHN,Hangzhou,E-Commerce,Yahoo!,USA,Sunnyvale,08/11/2005 00:00,2005-08,2005,2005-Q3,1000000000,alibaba,True