In [110]:
import pandas as pd


# df['raised_amount_usd'] = df['raised_amount_usd'].apply(lambda x: ("".join(x.split(","))).strip())
# df.loc[df.funding_total_usd == '-', 'raised_amount_usd'] = None
# df['raised_amount_usd'] = df['raised_amount_usd'].map(lambda x: float(x) if x is not None else x)

In [111]:
def split_backslash(x):
    try:
        return str(x).split("/")[1].strip()
    except:
        return x

In [112]:
raw_unicorns = pd.read_csv("scrapunicrons_2016/unicorns.csv",header=None)
list_unicorns = list(raw_unicorns[0])
list_unicorns_lower = [x.lower().replace(" ", "") for x in list_unicorns]

In [113]:
df = pd.read_csv("../raw_data_crunchbase/crunchbase-investments.csv")
# df = df[df['funded_year']==2013]
df['investor_permalink'] = df['investor_permalink'].apply(lambda x: split_backslash(x))
df = df.loc[df['investor_permalink']=='organization'] # change to person!!!!!!!

# from 20179 to 17617 for raised_amount_usd
df = df.loc[df["raised_amount_usd"].notnull()]
df['raised_amount_usd'] = df['raised_amount_usd'].apply(lambda x: "".join(x.split(",")).strip())
df.loc[df.raised_amount_usd == '-', 'raised_amount_usd'] = None

df['raised_amount_usd'] = df['raised_amount_usd'].map(lambda x: float(x) if x is not None else x)

# # all present for funding_round_type
# df = df.loc[df["funding_round_type"].notnull()]

# df = df.loc[df["investor_country_code"].notnull()]
# df = df.loc[df["company_country_code"].notnull()]

In [114]:
df.shape

(78863, 24)

In [115]:
df.columns

Index([u'company_permalink', u'company_name', u'company_category_list',
       u'company_market', u'company_country_code', u'company_state_code',
       u'company_region', u'company_city', u'investor_permalink',
       u'investor_name', u'investor_category_list', u'investor_market',
       u'investor_country_code', u'investor_state_code', u'investor_region',
       u'investor_city', u'funding_round_permalink', u'funding_round_type',
       u'funding_round_code', u'funded_at', u'funded_month', u'funded_quarter',
       u'funded_year', u'raised_amount_usd'],
      dtype='object')

In [116]:
subset_df = df[["company_name", "company_country_code", "company_city", "company_market",
                "investor_name","investor_country_code","investor_city",
                "funded_at","funded_month","funded_year","raised_amount_usd"]]

In [117]:
years_wanted = [2004,2005,2006,2007,2008,2009,2010,2011,2012,2013]

In [118]:
subset_df = subset_df.loc[subset_df['funded_year'].isin(years_wanted)]
# subset_df = subset_df[subset_df['funded_year']>=2004 and subset_df['funded_year']>=2013]

In [119]:
subset_df.head()

,company_name,company_country_code,company_city,company_market,investor_name,investor_country_code,investor_city,funded_at,funded_month,funded_year,raised_amount_usd
13,AbilTo,USA,New York,Health and Wellness,.406 Ventures,USA,Boston,05/14/2013 00:00,2013-05,2013,3000000
14,Ambient Devices,NaN,NaN,Mobile,.406 Ventures,USA,Boston,09/16/2008 00:00,2008-09,2008,5000000
15,Urban Compass,USA,New York,Local,.406 Ventures,USA,Boston,12/17/2012 00:00,2012-12,2012,8000000
16,MineralTree,USA,Cambridge,Analytics,.406 Ventures,USA,Boston,06/27/2012 00:00,2012-06,2012,6300000
17,Connotate,USA,New Brunswick,Analytics,.406 Ventures,USA,Boston,04/12/2012 00:00,2012-04,2012,7000000

In [120]:
# subset_df.to_csv("aggregated-investments-maptime.csv", index=False)

In [121]:
add_unicorns = subset_df.copy()

In [122]:
add_unicorns.shape

(67351, 11)

In [123]:
add_unicorns['company_name_lower'] = add_unicorns['company_name'].apply(lambda x: str(x).lower().replace(" ", ""))

In [124]:
add_unicorns.head()

,company_name,company_country_code,company_city,company_market,investor_name,investor_country_code,investor_city,funded_at,funded_month,funded_year,raised_amount_usd,company_name_lower
13,AbilTo,USA,New York,Health and Wellness,.406 Ventures,USA,Boston,05/14/2013 00:00,2013-05,2013,3000000,abilto
14,Ambient Devices,NaN,NaN,Mobile,.406 Ventures,USA,Boston,09/16/2008 00:00,2008-09,2008,5000000,ambientdevices
15,Urban Compass,USA,New York,Local,.406 Ventures,USA,Boston,12/17/2012 00:00,2012-12,2012,8000000,urbancompass
16,MineralTree,USA,Cambridge,Analytics,.406 Ventures,USA,Boston,06/27/2012 00:00,2012-06,2012,6300000,mineraltree
17,Connotate,USA,New Brunswick,Analytics,.406 Ventures,USA,Boston,04/12/2012 00:00,2012-04,2012,7000000,connotate

In [125]:
add_unicorns['unicorn_flag'] = add_unicorns['company_name_lower'].apply(lambda x: x in list_unicorns_lower)

In [126]:
unicorns_df = add_unicorns[add_unicorns['unicorn_flag']==True]

In [127]:
unicorns_df.head()

,company_name,company_country_code,company_city,company_market,investor_name,investor_country_code,investor_city,funded_at,funded_month,funded_year,raised_amount_usd,company_name_lower,unicorn_flag
169,Vice Media,USA,Brooklyn,Video Streaming,21st Century Fox,USA,New York,08/01/2013 00:00,2013-08,2013,70000000,vicemedia,True
571,Symphony,USA,Palo Alto,None,500 Startups,USA,Mountain View,01/17/2011 00:00,2011-01,2011,100000,symphony,True
742,Twilio,USA,San Francisco,Enterprise Software,500 Startups,USA,Mountain View,11/09/2010 00:00,2010-11,2010,12000000,twilio,True
810,Credit Karma,USA,San Francisco,Finance,500 Startups,USA,Mountain View,04/02/2013 00:00,2013-04,2013,30000000,creditkarma,True
1240,Fab,USA,New York,Design,A-Grade Investments,USA,Los Angeles,08/11/2011 00:00,2011-08,2011,7700000,fab,True

In [128]:
len(list_unicorns_lower)

236

In [129]:
len(set(unicorns_df['company_name']))

170

In [130]:
add_unicorns.to_csv("investments-unicorns.csv", index=False)